.full-bg {
    width: 100vw;
    height: 100vh;
    background: #12151C;
    display: grid;
    grid-template-columns: 25% 75%;
    place-items: center;
    overflow: hidden;
}
@media only screen and (max-width: 740px) {
    .full-bg {
        display: flex;
        flex-direction: row;
    }
}
