.bg-full {
    background: #12151C;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.login-container {
    width: 25%;
    height: 53%;
    background: #2B2B31;
    border: 1px solid #474747;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 20% 20% 20% 40%;
    place-items: center;
}

.login-container h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 3em;
}

.login-container input {
    width: 80%;
    height: 50px;
    font-size: 1.3em;
    border-radius: 11px;
    border: none;
    outline: none;
    transition: .3s;
    text-align: center;
}


.login-container input:hover {
    box-shadow: 6px 6px 6px rgba(0,0,0,0.4);
}

.login-container input:focus {
    transform: scale(1.05);
    box-shadow: 6px 6px 6px rgba(0,0,0,0.4);
}

.login-container button {
    width: 60%;
    height: 50%;
    background: #05768b;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 3em;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    transition: .3s;
}

.login-container button:hover {
    transform: scale(1.005);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

@media only screen and (max-width: 1230px) {
    .login-container {
        width: 35%;
    }
}

@media only screen and (max-width: 640px) {
    .login-container {
        width: 85%;
    }
}
